.badass_background {
	background-image: url("../images/desktop_home_6.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.badass_container {
	padding-top: 177px;
	padding-bottom: 162px;
	padding-left: 33px;
}

.badass_text-right {
	padding-left: 48px;
}

.badass_text-left {
	margin-top: 20px;
}