.checkwod_background {
	padding-top: 3vw;
	padding-bottom: 3vw;
	background-color: black;
	background-image: url("../images/wodwearbanner.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}

.checkwod_title {
	//padding-top: 42px;
	//padding-bottom: 42px;
}