.comfort_background {
	background-image: url("../images/desktop_home_5.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.comfort_container {
	padding-left: 48px;
	padding-top: 108px;
	padding-bottom: 138px;
}