.hero_background {
		background-image: url("../images/mobile-home-1.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

	@include respond ($tablet) {
			background-image: url("../images/desktop_home_1.png");
	}
}

.hero_container {
	padding-top: 18vw;
	padding-bottom: 18vw;
}

.hero_text_container {
	width: 200px;
	margin: 0 auto;
}
