.intro_background {
	background-image: url("../images/desktop_home_2.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.intro_text {
	text-align: center;
}

.intro_text-firstline {
	text-transform: uppercase;
}

.intro_text-secondline {
	text-transform: uppercase;
}

.intro_container {
	padding-top: 10vw;
	padding-bottom: 10vw;
}