.nav_item {

	 padding-bottom: 9px;

	 @include respond (tablet) {
	 	padding-bottom: 18px;
	 }

}

.nav_logo {

	position: absolute;
	top: $header_padding_top_m + 9px;

	@include respond (tablet) {
	 	top: 218px;
	}
}

img {
	max-height: 100%;
}

.nav_container {

	@include clearfix;
	padding-top: $header_padding_top_m;
	@include respond (tablet) {
			padding-top: 243px;
	}

}