.product_background {

	background-image: url("../images/desktop_home_3.png");
	background-repeat: no-repeat;
	background-size: cover;

	@include respond($tablet) {
		background-image: url("../images/desktop_home_3.png");
	}	
}
