.shoeDesc_background {
    padding-bottom: 4vw;
	background-image: url("../images/desktop_shoes_2.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.shoeDesc_container {
	padding-top: 227px;
	padding-bottom: 87px;
}