.shoe_background {
	background-image: url("../images/shoe_internal_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.shoe_title {
	padding-bottom: 203px;
}

.shoe_detail_container {
	padding-bottom: 38px;

	// &.shoe_detail_container--last {

	// 	padding-bottom: 78px;
	// }
}


