.shoedetail_background{

} 

.shoedetail_container {
	
	padding-top: 20px;
	padding-bottom: 20px;

}

.shoedetail_background_item-1 {
	background-color: $teal;
}

.shoedetail_background_item-2 {
	background-color: $orange;
}

.shoedetail_background_item-3 {
	background-color: $yellow;
}

.shoedetail_background_item-4 {
	background-color: black;
}

.shoedetail_text {

		color:white;
		text-transform: uppercase;
		font-family: $rokkitt;
		font-weight: $bold;
		text-align: center;
		padding-left: 3vw;
		padding-right: 3vw;

		&.shoedetail_text-1 {
			font-size: 4.9vw;
		}

		&.shoedetail_text-2 {
			font-size: 4.9vw;
		}
		
		&.shoedetail_text-3 {
			font-size: 4.9vw;
			color: black;
		}

		&.shoedetail_text-4 {
			font-size: 4.9vw;
		}
}

