.testimony_background {
	background-image: url("../images/desktop_home_7-900px.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.testimony_container {
	padding-top: 5vw;
	// padding-left: 20vw;
	// padding-right: 20vw;
}

.testimony_row {
	padding-top: $testimony_padding;
}

// .testimony_btn{
// 	padding-top: 18px;
// 	margin: 0 auto;
// }


// .text_heading {
// 	height: 100px;
// }
// .testimony_btn-wodwear{
// 	text-align: right;
// }