.testimony_background {
	background-image: url("../images/desktop_home_7-900px.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.testimony_container {
	padding-left: 78px;
}

.testimony_row {
	padding-top: $testimony_padding;
}

.testimony_btn{
	padding-top: 18px;
	margin: 0 auto;
}

// .testimony_btn-wodwear{
// 	text-align: right;
// }