$tablet: 750px;
$desktop: 970px;
$large: 1170px;

$background-colour: #1e0000;

// Colours
$yellow: #fff56c ;
$orange: #f79621;
$teal: #27beb8;

// Fonts
$rokkitt: 'Rokkitt', serif;
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Font families and settings
$header_font_family: 'Smythe', cursive;
$header_font_weight: normal;

$body_font_family: 'Quando', serif;
$body_font_weight: normal;
$body_font_size: 18px;


//Grid Dimensions
// $gridheight: 3px;
// $baseline: 27px;
// $section_vertical_padding: $gridheight * 12; // Provides padding distance between sections;

//Header padding
$header_padding_top_m: 87px;
$header_padding_bottom_m: 87px;

$testimony_padding: 77px;

// Glyphicons location visible to scss compiler
$icon-font-path: "../bootstrap/assets/fonts/bootstrap/";

// // Bootstrap variables
