/*********************************
* Your own imports shoud go here
*********************************/
/* mixins to make our lives easier */
/* use :
 
@include keyframes(fade){
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 
*/
/* line 2, C:/wamp/www/rx2/site/assets/scss/_slabtext.scss */
.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}

/* line 8, C:/wamp/www/rx2/site/assets/scss/_slabtext.scss */
.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}

/* line 18, C:/wamp/www/rx2/site/assets/scss/_slabtext.scss */
.slabtextdone .slabtext {
  display: block;
}

/* line 19, C:/wamp/www/rx2/site/assets/scss/_text.scss */
h1 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  /* line 19, C:/wamp/www/rx2/site/assets/scss/_text.scss */
  h1 {
    font-size: 97px;
  }
}

/* line 1, C:/wamp/www/rx2/site/assets/scss/_foothero.scss */
.foothero_background {
  background: #000;
}

/* line 14, C:/wamp/www/rx2/site/assets/scss/_foothero.scss */
.footerhero_text_container-sm {
  padding-top: 91px;
}

/* line 18, C:/wamp/www/rx2/site/assets/scss/_foothero.scss */
.footerhero_text_container-lg {
  margin-top: 0px;
  padding-top: 18vw;
}

/* line 24, C:/wamp/www/rx2/site/assets/scss/_foothero.scss */
.foothero_img {
  padding-top: 21px;
  padding-bottom: 36px;
}

/* line 29, C:/wamp/www/rx2/site/assets/scss/_foothero.scss */
.foothero_container {
  width: 50%;
}
